<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab" aria-expanded="true">Mercancía</a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" (click)="getDataForm(detaMerca)" href="#settings" role="tab" aria-expanded="false">Configuración</a> </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="profile" role="tabpanel" aria-expanded="true">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-xs-6 b-r"> <strong>Tipo mercancía</strong>
                <br>
                <p class="text-muted">{{ detaMerca.tipo_merca }}</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"> <strong>Marca</strong>
                <br>
                <p class="text-muted">{{ detaMerca.marca_merca }}</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"> <strong>Género</strong>
                <br>
                <p class="text-muted">{{ detaMerca.genero_merca }}</p>
              </div>
              <div class="col-md-3 col-xs-6"> <strong>Talla</strong>
                <br>
                <p class="text-muted">{{ detaMerca.talla_merca }}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 col-xs-6 b-r"> <strong>Cantidad</strong>
                <br>
                <p class="text-muted">{{ detaMerca.cantidad_merca }}</p>
              </div>
              <div class="col-md-4 col-xs-6 b-r"> <strong>Valor unidad</strong>
                <br>
                <p class="text-muted">{{ detaMerca.valor_merca | currency: 'USD':'symbol':'3.0' }}</p>
              </div>
              <div class="col-md-4 col-xs-6 b-r"> <strong>Fecha ingreso</strong>
                <br>
                <p class="text-muted">{{ detaMerca.fecha_merca | date:'dd/MM/YYYY' }}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 b-r"> <strong>Comentario</strong>
                <br>
                <p class="text-muted">{{ detaMerca.comentario_merca }}</p>
              </div>
            </div>
            <hr>
            <button type="button" (click)="goBack()" class="btn waves-effect waves-light btn-rounded btn-danger">Volver</button>
          </div>
        </div>

        <div class="tab-pane" id="settings" role="tabpanel" aria-expanded="false">
          <div class="card-body">
            <form [formGroup]="formEditMercancia" (submit)="actualizarMercancia()" class="form-horizontal form-material">
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label>Tipo mercancía</label>
                    <select formControlName="tipo"  class="form-control">
                      <option value="Calzado">Calzado</option>
                      <option value="Camisa">Camisa</option>
                      <option value="Camiseta">Camiseta</option>
                      <option value="Chaqueta">Chaqueta</option>
                      <option value="Pantalón">Pantalón</option>
                      <option value="Pantaloneta">Pantaloneta</option>
                      <option value="Sudaderas">Sudaderas</option>
                      <option value="Sabanas">Sabanas</option>
                      <option value="Acolchados">Acolchados</option>
                      <option value="Cortinas">Cortinas</option>
                      <option value="Tohallas">Tohallas</option>
                    </select>
                    <p class="text-danger" *ngIf="campoNoValido('tipo')">*Tipo requerido.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label>Marca</label>
                    <select formControlName="marca" class="form-control">
                      <option value="Adidas">Adidas</option>
                      <option value="Nike">Nike</option>
                      <option value="Reebok">Reebok</option>
                    </select>
                    <p class="text-danger" *ngIf="campoNoValido('marca')">*Marca requerida.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label>Género</label>
                    <select formControlName="genero" class="form-control">
                      <option value="M">Mujer</option>
                      <option value="H">Hombre</option>
                      <option value="I">Infantil</option>
                      <option value="C">Hogar</option>
                    </select>
                    <p class="text-danger" *ngIf="campoNoValido('genero')">*Género requerido.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label>Talla</label>
                    <select formControlName="talla" class="form-control">
                      <option *ngFor="let talla of dataTalla" value="{{talla.key}}">
                        {{talla.name}}
                      </option>
                    </select>
                    <p class="text-danger" *ngIf="campoNoValido('talla')">*Talla requerida.</p>
                  </div>
                </div>
              </div>
    
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <label>Cantidad</label>
                    <input type="number" formControlName="cantidad" min="0" class="form-control">
                    <p class="text-danger" *ngIf="campoNoValido('cantidad')">*Cantidad requerida.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <label>Valor unidad</label>
                    <input type="number" formControlName="valor" min="0" class="form-control">
                    <p class="text-danger" *ngIf="campoNoValido('valor')">*Valor requerido.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <label>Fecha ingreso</label>
                    <input type="date" formControlName="fecha" class="form-control">
                    <p class="text-danger" *ngIf="campoNoValido('fecha')">*Fecha requerida.</p>
                  </div>
                </div>
              </div>
    
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Comentario</label>
                    <textarea formControlName="comentario" rows="3" class="form-control"></textarea>
                    <p class="text-danger" *ngIf="campoNoValido('comentario')">*Comentario requerido.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <button type="submit" class="btn waves-effect waves-light btn-rounded btn-info">Actualizar mercancía</button>
                  &nbsp;
                  <button type="button" (click)="goBack()" class="btn waves-effect waves-light btn-rounded btn-danger">Volver</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>